

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    min-height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 20px;

    margin-top: 90px;
    
    padding: 20px;
    border-radius: 20px;
    
}

img {
    max-width: 250px;
    max-height: 250px;
    border: 4px solid #C59082;
    border-radius: 50%;

    padding: 5px;
    background: linear-gradient(to right, #e4dfde, #C59082);
}

section ul {
    margin-bottom: 60px;
    margin-left: 40px;
}

a {
    font-family: "Oswald";
    font-size: 20px;
    color: #FFFFFF;

    
    border-radius: 10px;
    padding: 4px;
}

li {
    margin-top: 10px;
    list-style-type: none;
}

div {
    background: linear-gradient(to right, #996d5e, #C59082);
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border: none;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

div a { 
    text-decoration: none;
}

